<div class="container pt-5">
  for <%= @request.duration %> min:

  <% @request.activities.each do |activity|%>
    <h2>
      <%= activity.name %>
    </h2>
    <p>
      <b>Description :</b>  <%= activity.description %>
    </p>
    <p data-controller="doitbutton" data-doitbutton-gmaps-value=<%= activity.gmaps_params %> >
      <%= link_to "Do it!", activity_path(activity), data: { 'turbo-method': :patch, action: "doitbutton#send", doitbutton_target: "link" }, class: "custom-btn"%>
    </p>
<%# , "https://www.google.com/maps/dir/?api=1&destination=#{activity.gmaps_params}&travelmode=walking" %>


  <% end %>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
