<div class="navbar-custom justify-content-between">
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "profile-link" do %>
    <i class="fa-solid fa-user-xmark profile-icon"></i>
  <% end %>

  <%= link_to root_path, class: "profile-link" do %>
    <i class="fa-solid fa-house profile-icon"></i>
  <% end %>
</div>
<div class="navbar-custom justify-content-between">
  <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "profile-link" do %>
    <i class="fa-solid fa-user-xmark profile-icon"></i>
  <% end %>

  <%= link_to root_path, class: "profile-link" do %>
    <i class="fa-solid fa-house profile-icon"></i>
  <% end %>
</div>

<div class="container container-a pt-5">

  <h3 class="mb-4"> See your old Searches:</h3>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <% @requests.where(archived: false).each do |request| %>
      <div class="col">
        <div class="card-custom-b shadow-sm h-100 position-relative">

          <div class="card-body-y d-flex flex-column justify-content-between flex-fill p-3">
            <h6 class="card-title d-flex justify-content-between"><b><%= request.created_at.strftime(" %Y : %a %e %b ") %></b>
              <%= link_to  archive_request_path(request), data: { 'turbo-method': :patch}, class: "btn-archive" do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </h6>
            <p class="card-text">
              <%= request.format_duration %><br>
              <b><%= request.address %> </b>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class="mt-5 mb-4">Activities you did:</h3>
  <div class="row row-cols-1 row-cols-md-2 g-3">
    <% @requests.where(archived: false).each do |request| %>
      <% request.activities.each do |activity| %>
        <% if activity.done %>
          <div class="col">
            <div class="card-custom-c shadow-sm h-100">
              <div class="card-body-y d-flex flex-column justify-content-between flex-fill p-3">
                <h6 class="card-title"><b><%= activity.created_at.strftime(" %Y : %a %e %b ") %></b></h6>
                <h5 class="card-subtitle mb-2"> <%= activity.name %></h5>
                <p class="card-text">
                  <b>at:</b> <%= activity.location %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
